<nav class="navbar navbar-expand-sm fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav nav-pills ml-auto" snScrollSpy>
      <a
        class="nav-item nav-link active" href="#about"
        snScrollSpyItem ngx-scroll-to="about"
        (click)="$event.preventDefault()"
      >About</a>
      <a
        class="nav-item nav-link" href="#news"
        snScrollSpyItem ngx-scroll-to="news"
        (click)="$event.preventDefault()"
      >News</a>
      <!--a
        class="nav-item nav-link" href="#events"
        snScrollSpyItem ngx-scroll-to="events"
        (click)="$event.preventDefault()"
      >Events</a-->
      <a
        class="nav-item nav-link" href="#projects"
        snScrollSpyItem ngx-scroll-to="projects"
        (click)="$event.preventDefault()"
      >Projects</a>
      <a
        class="nav-item nav-link" href="#board"
        snScrollSpyItem ngx-scroll-to="board"
        (click)="$event.preventDefault()"
      >Board</a>
      <a
        class="nav-item nav-link" href="#partners"
        snScrollSpyItem ngx-scroll-to="partners"
        (click)="$event.preventDefault()"
      >Partners</a>
    </div>
  </div>
</nav>


<!--div style="height: 500vh" class="row justify-content-center">
  <div class="col col-6">
    <quill-editor class="d-block" (onContentChanged)="change($event)"></quill-editor>
  </div>
</div-->

<main [ngStyle]="{backgroundImage: _coverImg}">
  <sn-scroll-spy-section id="cover" class="full-height">



    <div>
      <p class="title text-primary">ELSA {{_title}}</p>
      <p class="slogan">A just world in which there is respect for human dignity and cultural diversity</p>
    </div>
  </sn-scroll-spy-section>
  <sn-scroll-spy-section id="about">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col col-12 col-sm-8 col-lg-4">
          <img class="img-fluid" src="assets/logo.png">
        </div>
      </div>
      <ul class="nav nav-pills  justify-content-center" id="aboutTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="int-tab" data-toggle="tab" href="#int" role="tab" aria-controls="int" aria-selected="false">
            International <!-- TODO i18n -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="ref.id === 'main'" id="swiss-tab" data-toggle="tab" href="#swiss" role="tab" aria-controls="swiss" [attr.aria-selected]="ref.id === 'main'">
            Switzerland <!-- TODO i18n -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="ref.id !== 'main'" id="local-tab" data-toggle="tab" href="#local" role="tab" aria-controls="local" [attr.aria-selected]="ref.id !== 'main'">
            {{ ref.id === 'main' ? 'On your Campus' : _title }}  <!-- TODO i18n -->
          </a>
        </li>
      </ul>
      <div class="row justify-content-center">
        <div class="col col-12 col-md-8 p-4 tab-content" id="myTabContent">
          <div class="tab-pane fade" id="int" role="tabpanel" aria-labelledby="int-tab">
            <div class="card">
              <div class="card-body">
                {{about.int.de}}
              </div>
            </div>
          </div>
          <div class="tab-pane fade" [class.active]="ref.id === 'main'" [class.show]="ref.id === 'main'" id="swiss" role="tabpanel" aria-labelledby="swiss-tab">
            <div class="card">
              <div class="card-body">
                {{about.swiss.de}}
                <div *ngIf="ref.id !== 'main'" class="mt-3">
                  <ng-container *ngTemplateOutlet="allGroups"></ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" [class.active]="ref.id !== 'main'" [class.show]="ref.id !== 'main'" id="local" role="tabpanel" aria-labelledby="local-tab">
            <div class="card">
              <div class="card-body">
                {{about.local.de}}
                <div *ngIf="ref.id === 'main'" class="mt-3">
                  <ng-container *ngTemplateOutlet="allGroups"></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sn-scroll-spy-section>
  <sn-scroll-spy-section id="news" *ngIf="news$|async as news">
    <div class="container">
      <div class="row full-height justify-content-center align-items-center">
        <div id="accordion" class="col col-12 col-md-9 col-lg-6">
          <ng-container *ngFor="let entry of news; let i = index">
            <div *ngIf="allNews ? true : i < 4" class="card mb-3">
              <div class="card-header clickable" [id]="'eventHeader-' + i" data-toggle="collapse" [attr.data-target]="'#event-' + i" aria-expanded="false" [attr.aria-controls]="'event-' + i">
                <time class="text-grey-dark">{{entry.date | date: "d. MMMM yyyy"}}</time> <!-- TODO i18n -->
                <h3 class="card-title font-light mb-0">{{entry.title.de}}</h3> <!-- TODO i18n -->
              </div>

              <div [id]="'event-' + i" class="collapse" [attr.aria-labelledby]="'eventHeader-' + i" data-parent="#accordion">
                <div class="card-body">
                  <quill-editor [ngModel]="entry.content.en" theme="bubble" readonly></quill-editor> <!-- TODO i18n -->
                </div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
      <div *ngIf="!allNews && news.length > 5" class="row justify-content-center">
        <button type="button" class="btn btn-outline-primary" (click)="allNews = true">More</button>
      </div>
    </div>

  </sn-scroll-spy-section>
  <!--sn-scroll-spy-section id="events"></sn-scroll-spy-section-->
  <sn-scroll-spy-section id="projects">
    <div class="container">
      <div class="row justify-content-center">
        <div *ngFor="let project of projects; let i = index" class="col col-6 col-md-3 my-3">
          <div class="card zoomHover" data-toggle="modal" [attr.data-target]="'#projectModal' + i">
            <img class="card-img" [src]="project.img" [alt]="project.ref.id">
          </div>

          <div class="modal fade" [id]="'projectModal' + i" tabindex="-1" role="dialog" [attr.aria-labelledby]="project.ref.id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" [id]="project.ref.id + 'ModalTitle'">
                    {{project.title.en}} <!-- TODO i18n -->
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row justify-content-center mb-4">
                    <div class="col col-6">
                      <img class="img-fluid rounded" [src]="project.img" [alt]="project.ref.id">
                    </div>
                  </div>
                  <p>{{project.content.en}}</p> <!-- TODO i18n -->
                  <div class="row justify-content-center">
                    <a [href]="project.href" target="_blank" role="button" class="btn btn-outline-primary">Find out more</a> <!-- TODO i18n -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sn-scroll-spy-section>
  <sn-scroll-spy-section id="board">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-12 col-md-10">
          <img class="img-fluid card-shadow rounded mb-5" [src]="_boardImg">
          <div class="row">
            <div *ngFor="let boardMember of boardMembers$|async" class="col col-12 col-md-6 col-lg-4 my-3">
              <div class="card boardMember">
                <img class="card-img" [src]="boardMember.img" alt="Card image">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="card-title m-0">{{boardMember.name}}</h5>
                      <p class="card-text">{{boardMember.position.en}}</p>
                    </div>
                    <div class="col col-auto pl-0">
                      <a href="mailto:{{boardMember.email}}">
                        <i class="material-icons">mail_outline</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </sn-scroll-spy-section>
  <sn-scroll-spy-section *ngIf="partners$|async as partners" id="partners">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-9">
          <article *ngIf="partners.strat?.length" class="mb-5">
            <h3 class="font-light">Strategic Partners</h3>
            <div class="row align-items-center">
              <div *ngFor="let partner of partners.strat" class="col col-4 zoomHover">
                <a *ngIf="!partner.content" [href]="partner.href" target="_blank">
                  <img class="img-fluid" [src]="partner.img">
                </a>

                <ng-container *ngIf="partner.content">
                  <a data-toggle="modal" [attr.data-target]="'#partner-' + partner.ref.id">
                    <img class="img-fluid" [src]="partner.img">
                  </a>

                  <div class="modal fade" [id]="'partner-' + partner.ref.id" tabindex="-1" role="dialog" [attr.aria-labelledby]="partner.ref.id" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <!--div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div-->
                      </div>
                    </div>
                  </div>
                </ng-container>



              </div>
            </div>
          </article>
          <article *ngIf="partners.acad?.length">
            <h3 class="font-light">Academic Partners</h3>
            <div class="row align-items-center">
              <div *ngFor="let partner of partners.acad" class="col col-4 zoomHover">
                <a [href]="partner.href" target="_blank">
                  <img class="img-fluid" [src]="partner.img">
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

  </sn-scroll-spy-section>
</main>



<ng-template #allGroups>
  <p class="font-light">Will be back soon</p>
  <!--button *ngFor="let group of groups" type="button" class="btn btn-outline-primary mx-1" [routerLink]="group.key">
    {{group.title.en}} <!- TODO i18n ->
  </button-->
</ng-template>





  <!--a [attr.data-toggle]="content ? 'modal' : null" [attr.data-target]="'#partner' + id">
    <img class="img-fluid" [src]="img">
  </a>



  <!--div *ngIf="content" class="modal fade" [id]="'partnerModal-' + id" tabindex="-1" role="dialog" [attr.aria-labelledby]="id + ' Modal'" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center mb-4">
            <div class="col col-6">
              <img class="img-fluid rounded" [src]="img" [alt]="id">
            </div>
          </div>
          {{content.en}} <!-- TODO i18n ->
        </div>
      </div>
    </div>
  </div-->

