.nav-item:not(.active) {
  color: #888888;
}
.navbar-nav {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

main {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

sn-scroll-spy-section {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 50px;
  //min-height: 100vh;
  position: relative;
  padding: 5em 0;
  &:not(#cover) {
    background-color: rgba(255,255,255,0.9);
  }
}

#cover {
  margin-top: 0;
  height: 100vh;
  >div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3em 1em 1em;
    margin: 0;
    background-color: white;
    background-color: rgba(255,255,255,0.4);
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5) 30%, rgba(255,255,255,0.9) 80%);
    >.title {
      font-size: 3em;
      margin: 0;
      font-weight: 200;
    }
    >.slogan {
      font-weight: 300;
      font-size: 1.5em;
    }
  }
}
::ng-deep .ql-editor {
  padding: 0;
  p {
    font-size: 16px;
  }
}

.boardMember .label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  background-color: rgba(255,255,255,0.4);
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5) 40%);
}
