body {
  font-family: 'Montserrat', sans-serif;
}

$theme-colors: (
  "primary": #0A3087
);
@import "node_modules/bootstrap/scss/bootstrap";

.clickable {
  cursor: pointer;
}
.zoomHover {
  cursor: pointer;
  transition: transform 200ms;
  &:hover {
    transform: scale(1.1);
  }
}

.card-shadow,
.card	{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.font-light {
  font-weight: 300;
}


.full-height {
  min-height: 80vh;
}
